*.pdf
traindata.pt
.vscode
.ipynb_checkpoints
graph
transformer-gif
*.h5
*.pkl
*.pt
*.csv
*.png
*.jpg
*.bmpa
*.ckpt
*.parquet
*.config
logs/*
models/*
test/*
lightning_logs/*
data/*
data_upbit/*
ckpt/*
