*.pdf
traindata.pt
.vscode
.ipynb_checkpoints
graph
transformer-gif
*.h5
*.pkl
*.pt
*.csv
*.png
*.jpg
*.bmpa
*.ckpt
*.config
profit_test/*
multimodel/*
longtime/*
FinRL/*
lightning_logs/*
logs/*
checkpoints/*
docs/*
checkpoints/*
bybit_refactor/*
algo_trading/*
__pycache__/*
.idea/*